footer.footer {
  background-color: var(--off-black);
  color: var(--off-white);
}

footer.footer a {
  color: var(--bright-red);
  text-decoration: none;
}

footer.footer a:hover {
  text-decoration: underline;
}

footer.footer .dark-gray {
  color: gray;
}
